body {
  /* background-image: url(../images/connectwork.png); */
  background-color: #FAB246;
  overflow-y: hidden;
  overflow-x: hidden;
}

.form-control:focus {
  border-color: #FAB246;
  box-shadow: inset 0 1px 1px #FAB246, 0 0 8px #FAB246;
}

#pandoLogo {
  height: 50px;
}

#loginButton {
  margin: 0px 15px;
}

.nav-item {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

#navbar {
  background-color: aqua
}

.centeredAbsolute {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#whiteWindow {
  border-radius: 15px;
  background-color: #9E7941;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin: 25px;
}

.opaque {
  background-color: white;
  border-radius: 5px;
}

.page-appear {
  opacity: 1;
  z-index: 1;
}

.page-appear.page-appear-active {
opacity: 1;
transition: opacity 1000ms linear;
}

/* enter */
.page-enter {
  opacity: 1;
  transform: translateX(100vw);
}

.page-enter.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-out 500ms;
}

/* exit */
.page-exit {
  opacity: 1;
  transform: translateX(0%);

}
.page-exit.page-exit-active {
  opacity: 1;
  transform: translateX(-100vw);
  transition: all 500ms ease-in;
}
.page-exit-done {
  opacity: 0;
}

.loginInput {
  margin-right: 5px;
}

#dropdownMenuButton {
  background-color: #9E7941;
}

.sharebutton {
  height: 50%;
}
