#chatWindow {
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 25px;
    /* animation: 0.8s slideInUp ease; */
    width: 100vw;
    margin: 25px 0px;
    padding: 25px;
    height: 100vh;
    line-height: 110%;
    /* font-family: 'Medula One', cursive; */
    /* font-family: 'Francois One', sans-serif; */
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;


}

#messageSizeTester {
    padding: 0;
    width: 24%
}

#chatterLogo {
    height: 150px;
}

#chatSled {
    overflow-x: scroll;
    height: calc(100vh - 250px);
    width: 98vw;
    scroll-behavior: smooth;
    padding-left: 2px;
    overflow-y: hidden;
}

/* #scrollbarHider {
    height: calc(100vh - 265px);
    overflow-y: hidden;
    width: 98vw;
} */

.chatCart {
    padding: 0;
    position: relative;
    overflow: visible;
}

.messages {
    border: 1px black solid;
    border-radius: 5px;
    margin: 0;
    box-shadow: 2px 2px 1px grey;
    word-wrap: break-word;
    position: relative;
    background-color: white;
}

.selectedMessage {
    /* background-color: grey; */
    top: -2px;
    left: -2px;
    z-index: 1000;
    box-shadow: 4px 4px 2px grey;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.messages:hover {
    top: -2px;
    left: -2px;
    z-index: 1000;
    box-shadow: 4px 4px 2px grey;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor:pointer;
}


.message-enter {
    transform: translateX(100vw);
  }
  .message-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease-out;
  }
  .message-exit {
    transform: translateY(0%);
  }
  .message-exit-active {
    transform: translateY(-100vw);
    transition: all 500ms ease-out;
  }
  
